@use "Assetes.scss";
@use "Fnts.scss";

header {
	background-color:#801212;
	height: fit-content;
	padding: 15px 25px;
}

main {
	padding: 10px;
	height: fit-content;
	min-height: 95vh;
	background-color: #FFEEE0;
	background-attachment: fixed;
}

footer {
	background-color: #801212;
	padding: 20px 50px;
	height: fit-content;
}

@media (max-width: 900px) {
	main {
		min-height: 100vh;
		height: fit-content;
	}

	.box {
		padding-right: 30px;
	}
}
